img {


  display: block;
  margin: 1% 1% 1% 1%;
  float: left;
  max-width: 100vh;
  transform: rotate(90deg);
}

img:hover {
  display: block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);

  }

h2 {
  color: #2E86AB;
}

body {
  background-color: #565554;
  float: center;
}

a:hover {
   color: #2E86AB;
}

.fixed{
  color: #ffb324;
}

.enter {
  padding-top: 20px;

  font-family: 'Georgia';
  color: #ffb324;
  font-size: 30px;
}

.button {
  border-style: solid;
  border-width: thick;
  border-color: #2E86AB;

  float: center;

  text-align: center;
  text-decoration: none;
  display: block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #565554;
  max-width: 100vh;



}


.button1:hover {
  background-color: #2E86AB;
}

.information {
	padding-top: 230px;
}

p summary {
  font-size: 30px;
}
